
.menuWrapper{
    /*margin-top: 0;*/
    margin: auto;
	width: 100%;
    height: 400px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: normal;
    line-height: 1.45em;
    position: relative;;
    background-position: 0 0;
    /*background-repeat: no-repeat;*/
    background-color: transparent;
}


ul.menu{
	width: 100%;
    list-style: none;
	overflow: hidden;
}
ul.menu > li{
	width: 320px;
    height: 400px;
    float: left;
    border-right: 1px solid rgba(215,194,191,1);

    background-repeat: repeat;

    background-color: transparent;
    box-sizing: border-box;
}
ul.menu > li.last{
    border:none;
}
.bg1{
    background-image: url(../../img/lyb/1.jpg);
    
}
.bg2{
    background-image: url(../../img/lyb/2.jpg);
 
}
.bg3{
    background-image: url(../../img/lyb/3.jpg);

}
ul.menu > li > a{
	width: 100%;
    height: 50px;
    float: left;
    margin-top: 350px;
    text-align: center;
    line-height: 50px;
    color: #ddd;
   /* background-color: rgba(100,100,100,0.8);*/
   background-color: #9e9e9e;
   color: #432F2A;
    letter-spacing: 1px;
    font-size: 1.4em;
    cursor: pointer;
    text-decoration: none;
	font-weight: bold;
     /*box-sizing: border-box;*/
}
ul.menu > li ul{
	width: 100%;
    height: 110px;
    list-style: none;
    float: left;
    margin-top: -180px;
    padding-top: 20px;
     background-repeat: no-repeat;
    background-color: transparent;
}
ul.menu > li ul li{
    display: none;
}
ul.menu > li ul.sub1{
    background-image: url(../../img/lyb/bg1sub.png);
    opacity: 0.1;
}
ul.menu > li ul.sub2{
    background-image: url(../../img/lyb/bg2sub.png);
    opacity: 0.1;
}
ul.menu > li ul.sub3{
    background-image: url(../../img/lyb/bg3sub.png);
    opacity: 0.1;
}
ul.menu > li ul li a{
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    margin-left: 20px;
    font-size: 12px;
}
ul.menu > li ul.sub1 li{
    display: block;
}
ul.menu > li ul li a:hover{
	color: #BBB;
    text-decoration: underline;
}
