		body{

		}
		#all{
			
			background: whitesmoke;
			
			
		}
		/*#top{
			width:70%;
			height: 100px;
			background: black;
			margin-left: auto;
			margin-right:auto;
		}*/
		#logoandsearch{
			width:70%;
			height: 100px;

			margin-left: auto;
			margin-right:auto;
		}
		#logo{
			width: 30%;
			height:100%;
			float: left;
		}
		#search{
			width: 60%;
			height:100%;
			padding-right: 10%;
			float:right;
			font-family: "微软雅黑";

			/*background: #e3e4e5;*/
		}
		#searchcontent{
			width:300px;
			margin-top:30px; 
			float: left;
			height: 30px;
		}
		#searchbutton{
			width: 100px;
			height: 30px;
			float: left;
			margin-top:30px; 
			background: #e22;
			color: white;
		}
		#m_shoppingcart{
			border: 1px solid #e3e4e5;
			width: 126px;

			
			float: right;
			height: 27px;
		}
		#notfound{
			width: 70%;
			height: 300px;
			overflow: hidden;
			margin-left: auto;
			margin-right:auto;
			background: white;
		}
		#center{
			width: 70%;
			height: 600px;
			overflow: hidden;
			margin-left: auto;
			margin-right:auto;
			background: white;
		}
		#centerleft{
			width: 400px;
			height: 400px;
			margin-left: 5%;
			margin-top: 5%;


			float:left;
	
		}
		#centerright{
			width: 40%;
			height: 400px;
			margin-left: 5%;
			margin-top: 5%;
			

			float:left;

			font-family: "微软雅黑";
			
			font-size: 20px;
		}

		#smallpicture{
			width: 100px;
			height: 100px;
			position: absolute;
			border: 1px solid black;
			left:305px;
			top: 233px;
			background: gray;
			opacity:0.4;
			visibility: hidden;

		}
		#bigpicture{
			position: absolute;
			border: 1px solid black;
			width: 400px;
			height: 400px;
			left: 800px;
			top: 100px;
			visibility: hidden;
			overflow: hidden;
			/*visibility: visible;*/
		}
		#big_picture{
			position: relative;
			left: -100px;
			top: -100px;
			height:1600px;
			width:1600px;
		}
		#buynumber{
			float: left;

		}


		#buy_number{
			width: 80px;
			height: 50px;
		}
		#inventory{

			width: 150px;
			height: 50px;
			float: left;
			color: gray;
			font-size: 20px;
			padding-top:10px; 
			padding-left:10px; 
		}
		#goodsnumber{
			font-size: 20px;
		}
		#comprice{
			font-size: 30px;
			color: red;
		}
		.comprice{
			color: red;
		}
		#mceller{
			font-size: 14px;
		}
		#mplace{
			font-size: 14px;
		}
		#shoppingcart{
			background: #e22;
			color: white;
			width: 130px;
			height:40px; 
			font-size: 14px;
			margin-top: 30px;
			margin-left: 70%;
			font-family: "微软雅黑";

		}
		#bottom{
			width: 70%;
			height: 1100px;
			background: white;

			margin-left: auto;
			margin-right:auto;
			

		}
		#recommend{
			width:100%;
			height:50px;
			font-size: 30px;
			font-weight: 600;
			color: red;
			padding-left:20%;
			padding-top:20px;  
		}
		#row1{
			height: 250px;
			width: 100%;
			/*border: 1px solid black;*/
			margin-left: auto;
			margin-right:auto;
		}
		#row2{
			height: 350px;
			width: 100%;
			/*border: 1px solid black;*/
			margin-left: auto;
			margin-right:auto;
		}
		#row3{
			height: 400px;
			width: 100%;
			/*border: 1px solid black;*/
			margin-left: auto;
			margin-right:auto;
		}
		.com-1{
			margin-top: 2%;
			width: 43%;
			height: 200px;
			border: 1px solid #96BABA;
			
		}
		.com-2{
			margin-top: 2%;
			width: 30%;
			height: 300px;
			border: 1px solid #96BABA;
			margin-left: 2.5%;
			float:left;
		}
		.com-3{
			margin-top: 2%;
			width: 22.5%;
			height: 350px;
			border: 1px solid #96BABA;
			margin-left: 2%;
			float:left;
		}
		.compicture1{
			width: 65%;
			height: 100%;
			
			float:left;
			overflow: hidden;
		}
		.compicture2{
			width: 100%;
			height: 65%;

		}
		.compicture3{
			width: 100%;
			height: 65%;

		}
		.description1{
			width: 30%;
			height: 100%;
			float: left;

			margin-left: 1%;
		}
		.description2{
			width: 100%;
			height: 30%;
			margin-top: 1%;

		}
		.description3{
			width: 100%;
			height: 30%;
			margin-top: 1%;

		}
		.comname{
			font-size: 20px;
			font-weight: 500;
		}


		
		
		
		
		
		
		
		
		
		
/*footer*/
footer{
    font-size: 12px;
    text-align: center;
    /*border-top: solid 1px #e6e6e6;*/
    color: #999;
    padding-bottom: 30px;
}
footer p a{
    font-size: 12px;
    text-align: center;
    color: #999;


}
footer p:nth-child(1){

    padding-top: 30px;
    padding-bottom: 15px;
}
footer p span{

    padding-left: 1px;
    margin: 0 10px;
    font-size: 10px;
    background-color: #999;
}
.question{
    display: block;
    width: 33px;
    height: 135px;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -67px;
    background: url("../image/icon.png") -367px 0;;

}
.question:hover{
    background-position:  -334px 0;
}







