.font{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
h3{

	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size:24px;
}

span{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size:24px;
}
h1{

color: black;
    font-weight: 600;
    font-size: 2em;
    line-height: 1;
    margin-bottom: 0;
}

a{
	text-decoration: none;
        color: #999;

}



a:hover {
    color: #e4393c;
    text-decoration: underline;
}